<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>HostGrotesk-Regular.ttf</string>
		<string>HostGrotesk-Medium.ttf</string>
		<string>HostGrotesk-SemiBold.ttf</string>
		<string>HostGrotesk-Bold.ttf</string>
		<string>Satoshi-Regular.otf</string>
		<string>Satoshi-Medium.otf</string>
		<string>Satoshi-Bold.otf</string>
	</array>
</dict>
</plist>
